include ../mixins/basic/sprite

mixin product(product)
  .product__background
  .product__wrapper
    .product__image
      if (product.imageName)
        +picture("content/products", product.imageName, `${product.imageName}-sm`, "png", product.imageWidth, product.imageHeight, product.imageAlt)
      else
        +picture("content/products", "placeholder", "placeholder-sm", "png", product.imageWidth, product.imageHeight, "")

    .product__text
      h1= product.title
      each item in product.description
        p= item
      if (product.list)
        each item in product.list
          strong= item.title
          if (item.elements.length > 1)
            ul
              each element in item.elements
                li= element
          else
            p= item.elements[0]
      h2 детали
      if (product.details)
        table
          each item in product.details
            tr
              td.product__td.product__td--feature= item.feature
              td.product__td.product__td--space
              td.product__td.product__td--value= item.value
      if (product.individual)
        p
          b Изготавливается по индивидуальным размерам
