include ../mixins/basic/sprite

mixin productCard(card)
  if (!card.menu)
    a(href=card.href).product-card
      .product-card__image
        .product-card__shadow
        +picture("content/main", card.imageName, `${card.imageName}-sm`, "png", card.imageWidth, card.imageHeight, card.imageAlt)
      h3= card.title
      .product-card__choose
        .product-card__choose-text
          div Выбрать
        +icon("product-choose", 16, 27)
  if (card.menu)
    .product-card(tabindex=0)
      .product-card__image
        .product-card__shadow
        +picture("content/main", card.imageName, `${card.imageName}-sm`, "png", card.imageWidth, card.imageHeight, card.imageAlt)
      h3= card.title
      .product-card__choose
        .product-card__choose-text
          div Выбрать
        +icon("product-choose", 16, 27)
      ul.product-card__menu
        each item in card.menu
          li.product-card__menu-item
            a(href=item.href).product-card__menu-link
              +icon("product-arrow-right", 9, 5)
              span= item.title

